/** {
  outline: red 1px solid;
}*/

html {
	font-family: "Dosis", Helvetica, Arial, Sans-Serif;
	font-size: 1em;
}

body {
	margin: 0;
}


h1 {
	font-size: 2em;
}

header {
	display: block;
	background: #d9e5ec;
	padding: 10px 0;
}

.appwidth {
	margin-left: auto;
	margin-right: auto;
	min-width: 320px;
	max-width: 400px;
}

.logo {
	height: 64px;
	background: url('../images/dashopper-logo.png') no-repeat;
	display: block;
	margin-bottom: 10px;
}

.appname {
	margin: 10px 0 0 66px;
	padding-top: 6px;
	line-height: .63em;
	color: #ed1c24;
}

.appname-small {
	font-size: .75em;
	color: #005273;
	margin-left: 34px
}

.appname-large {
	margin-left: 4px;
}

input {
	border: 0;
	background-color: #eef6ea;
	border-radius: 4px;
	height: 30px;
	padding: 0 4px;
	font-size: 1.125em;
	font-family: "Dosis", Helvetica, Arial, Sans-Serif;
}

.additem, .formfield, .button {
	display: inline;
}

.formfield {
	margin-top: 4px;
	padding-left: 70px;
}

.fa-plus-square {
	color: #4da626;
	font-size: 2em;
	vertical-align: middle;
}

.completed {
	text-decoration: line-through;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin: 5px 0;
	font-size: 1.375em;
}

.fa {
	margin: 0 4px;
}

.trash {
	float: right;
}

button {
	margin: 4px;
	border: 0;
	border-radius: 3px;
	background-color: #005273; 
	padding: 6px;
	color: white;
	font-size: .75em;
	letter-spacing: .125em;
	text-transform: uppercase;
	font-family: "Dosis", Helvetica, Arial, Sans-Serif;
}

button:hover {
	background-color: #ed1c24;
}

button:active {
	background-color: #4da626;
}

.centertext {
	text-align: center;
}